.icon {
  width: 1em;
  height: 1em;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-date {
  background-image: svg-load(clock.svg, fill=#999);
}

.icon-location {
  background-image: svg-load(map-marker.svg, fill=#999);
}
