.image-results {
  margin: 3em auto 8em;
}

.image-grid {
  width: 90vw;
  max-width: 1150px;
  margin-bottom: 1em;

  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
}

.image-grid-load-indicator {
  font-size: 23px;
  color: #666;
  font-style: italic;
  text-align: center;
  margin: 10vh 0;

  animation: fadeIn 0.38s both 0.15s ease-out;
}

.grid-item {
  flex: 0 1 100%;
  margin: 0 0 1rem;
  padding: 0 0.5rem;
}

.grid-item img {
  width: 100%;
  height: auto;
  min-height: 100px;
}

.img-card {
  height: 100%;
  display: flex;
  flex-flow: column nowrap;

  box-shadow: 0 1px 9px rgba(0,0,0,0.2);
  background-color: white;
}

.img-meta {
  padding: 1em;
  color: #999;
  font-size: 0.75em;
}

.img-title {
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

.img-date, .img-distance {
  display: flex;
  align-items: center;
}

.img-date .icon, .img-distance .icon {
  margin-right: 0.4em;
}

.img-distance .icon {
  height: 1.3em;
}

.img-desc {
  margin-bottom: 0.3em;
  word-break: break-word;
}

@media (min-width: 600px) {
  .grid-item { flex-basis: 50%; }
}

@media (min-width: 900px) {
  .grid-item { flex-basis: 33%; }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}
