.image-grid {
  column-count: 1;
  column-gap: 1rem;

  width: 90vw;
  max-width: 1150px;
  margin: 3em auto 8em;
}

.grid-item {
  display: inline-block;
  width: 100%;
  margin-bottom: 1rem;
}

.grid-item img {
  width: 100%;
  height: auto;
  min-height: 100px;
}

.img-card {
  box-shadow: 0 1px 9px rgba(0,0,0,0.2);
  background-color: white;
}

.img-meta {
  padding: 1em;
  color: #999;
  font-size: 0.75em;
}

.img-date, .img-distance {
  display: flex;
  align-items: center;
}

.img-date .icon, .img-distance .icon {
  margin-right: 0.4em;
}

.img-distance .icon {
  height: 1.3em;
}

@media (min-width: 600px) {
  .image-grid { column-count: 2; }
}

@media (min-width: 900px) {
  .image-grid { column-count: 3; }
}
