@import "components/header";
@import "components/autocomplete";
@import "components/image-grid";
@import "components/location-suggestions";
@import "components/icon";

body {
  background-color: #f7f7f9;
  transition: background-color 1.35s 0.35s cubic-bezier(0.19, 1, 0.22, 1);
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90vw;
  max-width: 800px;
  min-height: 100vh;

  margin: auto;
  padding-top: 5vh;
}

.app-desc {
  color: #999;
}
