@import "components/header";
@import "components/image-grid";

body {
  background-color: #f7f7f9;
}

.app-container {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90vw;
  max-width: 800px;
  min-height: 100vh;

  margin: auto;
  padding-top: 5vh;
}

.app-desc {
  color: #999;
}
